langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
langchain-experimental 
bs4
faiss-cpu
pypdf
arxiv
pymupdf
wikipedia
lxml
langchain_huggingface
langchain-groq
langgraph
langchain-ollama
langgraph-cli[inmem]
pymupdf
transformers
pillow
scikit-learn
torch
replicate
langchain_chroma
jq
rank_bm25
ddgs
duckduckgo-search
notebook